#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("BOOKS_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($book in $books)
        <div class="col">
            <a class="book" href="/books/$book.isbn">
                <div class="bookCover">
                    <img src="$book.mediumCover" alt="$book.title">
                </div>
                $msg.get("BOOKS_CAPTION", $book.title, $book.author)
            </a>
        </div>
    #end
</div>
#end
